{% assign image_dimensions = '576x864' %}
{% assign include_atc = include_atc %}
{% assign variant_count = product.variants.size %}
<div class="single-product{% if class %} {{ class }}{% endif %}{% if image == false and product.images.size > 1 %} has-secondary-image{% endif %}{% if animate_count %} wow fadeInUp" data-product data-wow-offset="200" data-wow-delay="{{ animate_count | times: 0.1 }}s{% endif %}" data-product>
    <div class="single-product__image-wrapper">
        <a href="{{ url | default: product.url }}" class="single-product__image object-cover">
            {% if class contains 'single-product__sm' %}
                {% assign single_product_sizes = '(min-width: 768px) calc(25vw - 15px), calc(50vw - 20px)' %}
            {% else %}
                {% assign single_product_sizes = '(max-width: 768px) calc(50vw - 20px), (min-width: 769px) and (max-width: 1024px) 33vw, calc(25vw - 15px)' %}
            {% endif %}
            <div class="lazy-load-container">
                <img class="lazy-load-image" data-src="{{ product.featured_image | img_url: 'master' }}"
                    alt="{{ product.featured_image.alt | escape }}">
            </div>
        </a>
        {%- unless class contains 'single-product__sm' -%}
            {%- render 'product-variant-links', class: 'single-product__variants' -%}
        {%- endunless -%}
        {%- if include_atc == true -%}
            <div class="product-atc-button">
                {%- if variant_count > 1 %}
                    <div class="product-atc-button__single product-atc-button__variant-wrapper product-atc-button__variant-wrapper--desktop">
                        <span class="atc-text"><span class="atc-plus">+</span>Add to basket</span>
                         {%- render 'loading-spinner' -%}
                        {% assign variant_scroll_count = 5 %}
                        {% if variant_count > variant_scroll_count %}
                            <button class="variant-scroll variant-scroll--back disabled" data-scroll-variants="back">
                                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="11" viewBox="0 0 6 11">
                                    <path id="Polygon_2" data-name="Polygon 2" d="M5.5,0,11,6H0Z" transform="translate(0 11) rotate(-90)"/>
                                </svg>                              
                            </button>
                        {% endif %}
                        {%- assign product_form_id = 'product-form-' | append: section.id -%}
                      <div class="product-atc-button__variants{% if variant_count <= variant_scroll_count %} justify-variants{% endif %}"{% if variant_count > variant_scroll_count %} data-variant-scroll-container{% endif %}>
                        {% for variant in product.variants %}
                                <product-form>
                                    {%- form 'product',
                                      product,
                                      id: product_form_id,
                                      class: 'form',
                                      novalidate: 'novalidate',
                                      data-type: 'add-to-cart-form'
                                    -%}
                                    <input type="hidden" name="id" value="{{ variant.id }}">
                                    <button type="submit" {% if variant.available == false %}disabled{% endif %} class="add-to-cart-button" data-sold-out-message="true">
                                        <span class="variant-option-name {% if variant.available == false %}sold-out{% endif %}">
                                            {{ variant.option2 }}
                                        </span>
                                      <span class="sold-out-message hidden">
                                        {{ 'products.product.sold_out' | t }}
                                      </span>
                                    </button>
                                </product-form>
                            {%- endform -%}
                        {% endfor %}
                        </div>

                        {% if variant_count > variant_scroll_count %}
                                <button class="variant-scroll variant-scroll--next" data-scroll-variants="forward">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="6" height="11" viewBox="0 0 6 11">
                                        <path id="Polygon_1" data-name="Polygon 1" d="M5.5,0,11,6H0Z" transform="translate(6) rotate(90)" />
                                      </svg>
                                </button>
                        {% endif %}
                    </div>
                    <mobile-atc-button class="product-atc-button__single product-atc-button__variant-wrapper product-atc-button__variant-wrapper--mobile">
                        <button data-style-with-mobile-atc-toggle="{{ product.id }}"><span class="atc-text"><span class="atc-plus">+</span>Add to basket</span></button>
                    </mobile-atc-button>
                {% elsif variant_count == 1 %}
                    <div class="product-atc-button__single">
                        {%- assign product_form_id = 'product-form-' | append: section.id -%}
                        {%- for variant in product.variants -%}
                            <product-form>
                            {%- form 'product',
                              product,
                              id: product_form_id,
                              class: 'form',
                              novalidate: 'novalidate',
                              data-type: 'add-to-cart-form'
                            -%}
                            <input type="hidden" name="id" value="{{ variant.id }}">
                                <button type="submit" {% if variant.available == false %}disabled{% endif %} class="add-to-cart-button">
                                    {% if variant.available == false %}
                                         {{ 'products.product.sold_out' | t }}
                                         {% else %}         
                                            <span class="atc-text">
                                                <span class="atc-plus">
                                                    +
                                                </span>
                                                Add to basket
                                            </span>
                                            <span class="sold-out-message hidden">
                                             {{ 'products.product.sold_out' | t }}
                                            </span>
                                    {% endif %}    
                                </button>
                            {%- endform -%}
                             {%- render 'loading-spinner' -%}
                            </product-form>
                        {%- endfor -%}
                    </div>
                {%- endif -%}
            </div>
        {%- endif -%}
    </div>
    {%- if class contains 'single-product__sm' -%}     
        <div class="single-product__vendor">{{ product.title }}</div>
            <div class="single-product__title ">{{ product.vendor }}</div>
        {%- render 'price', class: 'single-product__price light', product: product -%}
        {% render 'product-badge', product: product, position: 'top' %}
    {%- else -%}
        <a href="{{ url | default: product.url }}"><h3 class="single-product__title">{{ product.vendor }}</h3></a>
        <a href="{{ url | default: product.url }}"><h2 class="single-product__vendor bold uc lg">{{ product.title }}</h2></a>
        {%- render 'price', class: 'single-product__price', badge: true,  product: product -%}
    {%- endif -%}
    {%- if include_atc == true -%}
    <div class="product-atc-button--overlay product-atc-button--mobile mobile-atc-drawer" data-style-with-mobile-atc-drawer="{{ product.id }}">
        <div class="atc-button-overlay" data-close-atc-drawer></div>

        <div class="mobile-atc-drawer__wrapper">
            <button class="close-cross mobile-atc-drawer__close" data-close-atc-drawer></button>
            <div class="mobile-atc-drawer__text">
                <h3 class="product-variants__option-title  bold uc">Select your size</h3>
            </div>
                <div class="mobile-atc-drawer__variants product-atc-button__variants">
                    {%- for variant in product.variants -%}
                            <button type="button" data-atc-drawer-variant data-variant-id="{{ variant.id }}" data-attribute-product-handle="{{ product.handle }}"  data-product-quantity="1"{% if variant.available == false %} disabled{% endif %}>
                                {{ variant.option2 }}
                            </button>
                    {%- endfor -%}
                    <div data-atc-error-text class="error-text error-text--hidden">
                        <p class="error-text__body">Please make a selection.</p>
                    </div>
                </div>
                
                <button class="button mobile-atc-drawer__atc-button placeholder" type="button" data-atc-drawer-button data-atc-drawer-button-placeholder >Add to basket</button>
              {%- assign product_form_id = 'product-form-' | append: section.id -%}
               {%- for variant in product.variants -%}
                  <product-form class="product-form" id="product-form-{{ variant.id }}">
                    <div class="product-form__error-message-wrapper" role="alert" hidden>
                      <svg aria-hidden="true" focusable="false" class="icon icon-error" viewBox="0 0 13 13">
                        <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
                        <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
                        <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
                        <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7"/>
                      </svg>
                      <span class="product-form__error-message"></span>
                    </div>
                    {%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
                      <input type="hidden" name="id" value="{{ variant.id }}">
                      <button class="button" type="submit" data-variant-id="{{ variant.id }}" data-atc-drawer-button data-attribute-product-handle="{{ product.handle }}" data-cart-update='{ "action": "add", "variantID": {{ variant.id }} }' disabled>
                        Add to basket
                      </button>

                     {%- render 'loading-spinner' -%}
                    {%- endform -%}
                  </product-form>
                {%- endfor -%}
            </div>
    </div>
{%- endif -%}
</div>